/* You can add global styles to this file, and also import other style files */

@import './app/css/normalize.css';
@import './app/css/skeleton.css';

.center {
  text-align: center;
}
.contactLogo {
  max-width: 50px;
}
.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: #fff;
  background-color: #454545;
}
.fa:hover {
  background-color: #323232;
}
.header {
  text-align: center;
  position: sticky;
  top: 0;
  background-color: white;
  /* box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); */
  /* Using an <hr> tag instead of the shadow */
  z-index: 100;
}
.indent {
  padding-left: 1rem;
}
.narrowHeight {
  line-height: 1rem;
}
.noMargin {
  margin: 0;
}
.noStyle {
  color: inherit;
  text-decoration: none;
}
.noStyle:hover {
  color: inherit;
  text-decoration: none;
}
.present {
  color: #ff58f6; /* change this color to something more pleasing */
  text-decoration: underline;
}
.profile {
  width: 100px;
  border-radius: 50%;
}
ul,
li {
  line-height: 1.4em;
}
